# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.env
*.venv
*.egg-info/
*.egg

# Virtual environment
venv/
ENV/
env/
.env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Node / React
node_modules/
build/
dist/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db
